.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

    

.header {
    grid-area: header;
    text-align: center;
}
a {
    color: #37a3d3
}
ul {
    margin: 4px;
}
p {
    margin: 4px;
}
button {
    margin-bottom: 4px;
    margin-top: 8px;
}

h4 {
    color: #f7c346;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-top: 8px;
}

.menu {
    grid-area: menu;
    width: 250px;
    display: inline;
}

.main {
    grid-area: main;
}

.right {
    grid-area: right;
    display: inline-grid;
}

.footer {
    grid-area: footer;
    text-align: left;
}

.grid-container {
    display: inline-grid;
    grid-template-areas:
        'header header right'
        'menu   main   right'
        'menu   footer right';
    gap: 4px;
    padding: 4px;
    background-color: #142833;
}
    .grid-container > div {
        color: #ffffff;
        background-color: #313f53;
        padding: 4px 4px;
        font-size: 1.0em;
        font-family: 'Segoe UI'
    }

#system-selector {
    background-color: #212b39;
    color: #f8f8f8;
    font-family: 'Cascadia Code', "Courier New", monospace;
    font-size: 1.0em;
    text-align: left;
    border-radius: 0.5vw;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
}

.system-config {
    color: white;
    font-size: 1.0em;
    text-align: left;
}

.system-help {
    color: white;
    font-size: 1.0em;
    text-align: left;
}

/*Emulator SKCanvas view style*/
#emulatorSKGLView {
/*    position: relative;
    left: 0px;
    top: 0px;
*/
}

/*Debug style*/
.infobox {
    margin: 4px;
    padding: 8px;
    border-radius: 0.5vw;

    background-color: #212b39;
    color: #f8f8f8;
    font-family: "Courier New", monospace;
    font-size: 0.7em;
    text-align: left;
    overflow: auto;
    line-height: 3ex;
    display: flex;
}

.infobox .header {
    color: white;
}
.infobox .value {
    color: gold;
}

/*Monitor styles*/
#monitor-outer-screen {
    margin: 1px;
    background-color: #212b39;
    padding: 1em;
    /*margin: 2vw auto;*/ /* setting margin forces center */
    border-radius: 0.5vw;
    box-sizing: border-box;
}

#monitor-inner-screen {
    color: #f8f8f8;
    font-family: "Courier New", monospace;
    font-size: 1em;
    text-align: left;
    width: 99%;
}

#monitor-output-outer {
    overflow: auto;
    height: 60ex;
    line-height: 3ex;
    display: flex;
    flex-direction: column-reverse
}

#monitor-output .info {
    color: white;
}
#monitor-output .warning {
    color: yellow;
}
#monitor-output .error {
    color: red; 
}

#monitor-input {
    background-color: #444;
    color: #f8f8f8;
    font: inherit;
    border: none;
    outline: none;
    caret-color: inherit;
    width: 90%;
}

#monitor-input::-ms-clear {
    /* Hide the X clear button microsoft puts in input fields. */
    display: none;
}

.custom-modal {
    background-color: #accaf2;
    color: #000;
    font-family: 'Segoe UI';
    font-size: 1.0em;
    border-radius: 0.5vw;
    box-sizing: border-box;

    width: 500px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

    .custom-modal a {
        color: #194f85
    }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex: 1;
}

.table {
    display: table;
    width: 100%;
    border: 1px solid black;
}

.table-row {
    display: table-row;
    min-height: 1px;
    height: auto;
    margin: 0;
}

.table-cell {
    display: table-cell;
    margin: 0;
    padding: 2px;
    border: 1px solid black;
}
/*.onecol {
    width: 100%;
}*/
/*.twocol {
    width: 50%;
}
*//**/