#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.header {
    grid-area: header;
    text-align: center;
}
a {
    color: #37a3d3
}
ul {
    margin: 4px;
}
p {
    margin: 4px;
}
button {
    margin-bottom: 4px;
    margin-top: 8px;
}

h4 {
    color: #f7c346;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-top: 8px;
}

.menu {
    grid-area: menu;
    width: 250px;
    display: inline;
}

.main {
    grid-area: main;
}

.right {
    grid-area: right;
    display: inline-grid;
}

.footer {
    grid-area: footer;
    text-align: center;
}

.grid-container {
    display: inline-grid;
    grid-template-areas:
        'header header right'
        'menu   main   right'
        'footer footer right';
    gap: 4px;
    padding: 4px;
    background-color: #142833;
}
    .grid-container > div {
        color: #ffffff;
        background-color: #203446;
        padding: 4px 4px;
        font-size: 1.0em;
        font-family: 'Segoe UI'
    }

#system-selector {
    background-color: #1b2930;
    color: #f8f8f8;
    font-family: 'Cascadia Code', "Courier New", monospace;
    font-size: 1.0em;
    text-align: left;
    border-radius: 0.5vw;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
}

.system-config {
    color: white;
    font-size: 1.0em;
    text-align: left;
}

.system-help {
    color: white;
    font-size: 1.0em;
    text-align: left;
}

/*Emulator SKCanvas view style*/
#emulatorSKGLView {
/*    position: relative;
    left: 0px;
    top: 0px;
*/
}

/*Debug style*/
.infobox {
    margin: 4px;
    padding: 8px;
    border-radius: 0.5vw;

    background-color: #063e5b;
    color: #f8f8f8;
    font-family: "Courier New", monospace;
    font-size: 0.7em;
    text-align: left;
    overflow: auto;
    line-height: 3ex;
    display: flex;
}

.infobox .header {
    color: white;
}
.infobox .value {
    color: gold;
}

/*Monitor styles*/
#monitor-outer-screen {
    margin: 1px;
    background-color: #333;
    padding: 1em;
    /*margin: 2vw auto;*/ /* setting margin forces center */
    border-radius: 0.5vw;
    box-sizing: border-box;
}

#monitor-inner-screen {
    color: #f8f8f8;
    font-family: "Courier New", monospace;
    font-size: 1em;
    text-align: left;
    width: 99%;
}

#monitor-output-outer {
    overflow: auto;
    height: 60ex;
    line-height: 3ex;
    display: flex;
    flex-direction: column-reverse
}

#monitor-output .info {
    color: white;
}
#monitor-output .warning {
    color: yellow;
}
#monitor-output .error {
    color: red; 
}

#monitor-input {
    background-color: #444;
    color: #f8f8f8;
    font: inherit;
    border: none;
    outline: none;
    caret-color: inherit;
    width: 90%;
}

#monitor-input::-ms-clear {
    /* Hide the X clear button microsoft puts in input fields. */
    display: none;
}
