#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.header {
    grid-area: header;
}
a {
    color: #f7c346
}


.menu {
    grid-area: menu;
    max-width: 400px;
    min-width: 160px;
}

.main {
    grid-area: main;
    width: 100%
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu   main   main   main   right  right'
        'menu   footer footer footer footer footer';
    gap: 4px;
    padding: 4px;
    background-color: #203446;
}
    .grid-container > div {
        /*background-color: rgba(255, 255, 255, 0.8);*/
        color: #ffffff;
        background-color: #40677c;
        text-align: center;
        padding: 8px 4px;
        font-size: 1.0em;

/*        display: flex;*/
/*        align-items: center;*/
    }

#system-selector {
    background-color: #1b2930;
    color: #f8f8f8;
    font-family: "Courier New", monospace;
    font-size: 1.0em;
    text-align: left;

    /*margin: 2vw auto;*/ /* setting margin forces center */
    border-radius: 0.5vw;
    box-sizing: border-box;

    margin: 0px;
    padding: 10px;
    /*width: 300px;*/
}

.system-help {
/*    background-color: #40677c;
    color: #f8f8f8;
*/
    color: white;
    /*font-family: "Courier New", monospace;*/
    font-size: 1.0em;
    text-align: left;
    margin: 8px;
    padding: 8px;

    display: inline

    /*margin: 2vw auto;*/ /* setting margin forces center */
/*    border-radius: 0.5vw;
    box-sizing: border-box;*/
}

/*Emulator SKCanvas view style*/
#emulatorSKGLView {
    position: relative;
    left: 0px;
    top: 0px;
/*    overflow: hidden;*/
}

/*Debug style*/
.infobox {
    margin: 1px;
    padding: 4px;
    /*margin: 2vw auto;*/ /* setting margin forces center */
    border-radius: 0.5vw;
    box-sizing: border-box;
    background-color: #063e5b;
    color: #f8f8f8;
    font-family: "Courier New", monospace;
    font-size: 0.7em;
    text-align: left;
    overflow: auto;
    height: 10ex;
    line-height: 3ex;
    display: flex;

}
.infobox .header {
    color: white;
}
.infobox .value {
    color: gold;
}

/*Monitor styles*/
#monitor-outer-screen {
    margin: 1px;
    background-color: #333;
    padding: 1em;
    /*margin: 2vw auto;*/ /* setting margin forces center */
    border-radius: 0.5vw;
    box-sizing: border-box;
/*    width: 809px;*/
/*    width: 824px;*/
    /*width: 1209px;*/
}

#monitor-inner-screen {
    color: #f8f8f8;
    font-family: "Courier New", monospace;
    font-size: 1em;
    text-align: left;
    width: 99%;
}

#monitor-output-outer {
    overflow: auto;
    height: 60ex;
    line-height: 3ex;
    display: flex;
    flex-direction: column-reverse
}

#monitor-output .info {
    color: white;
}
#monitor-output .warning {
    color: yellow;
}
#monitor-output .error {
    color: red; 
}

#monitor-input {
    background-color: #444;
    color: #f8f8f8;
    font: inherit;
    border: none;
    outline: none;
    caret-color: inherit;
    width: 90%;
}

#monitor-input::-ms-clear {
    /* Hide the X clear button microsoft puts in input fields. */
    display: none;
}
