/* @import url('open-iconic/font/css/open-iconic-bootstrap.min.css'); */
/* 
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
} */

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

#title-header 
{
/*    min-height: 80px;*/
    height: 85px
}

#title-info {
    background-color: #40677c;
    color: #f8f8f8;
    /*font-family: "Courier New", monospace;*/
    font-size: 1.0em;
    text-align: left;
    margin: 1px;
    padding: 4px;
    /*margin: 2vw auto;*/ /* setting margin forces center */
    border-radius: 0.5vw;
    box-sizing: border-box;
    width: 450px;
    min-height: 80px;
    float: left;
}
#title-info a
{
    color: #f7c346
}

#system-selector {
    background-color: #1b2930;
    color: #f8f8f8;
    font-family: "Courier New", monospace;
    font-size: 1.0em;
    text-align: left;
    margin: 1px;
    padding: 4px;
    /*margin: 2vw auto;*/ /* setting margin forces center */
    border-radius: 0.5vw;
    box-sizing: border-box;
    width: 300px;
    min-height: 80px;
    float: left;
}

.system-help {
    background-color: #40677c;
    color: #f8f8f8;
    /*font-family: "Courier New", monospace;*/
    font-size: 1.0em;
    text-align: left;
    margin: 1px;
    padding: 4px;
    /*margin: 2vw auto;*/ /* setting margin forces center */
    border-radius: 0.5vw;
    box-sizing: border-box;
    width: 600px;
    min-height: 80px;
    float: left;
}

/*Main layout style*/
#main {
}

#canvas-outer {
    min-height: 100px;
/*    float: none;*/
    float: left;
}

/*Emulator SKCanvas view style*/
#emulatorSKGLView {
    position: relative;
    left: 0px;
    top: 0px;
/*    overflow: hidden;*/
}

/*Debug style*/
.infobox-outer-screen {
    margin: 1px;
    background-color: #063e5b;
    padding: 4px;
    /*margin: 2vw auto;*/ /* setting margin forces center */
    border-radius: 0.5vw;
    box-sizing: border-box;
    /*    width: 809px;*/
    /*    width: 1209px;*/
    width: 600px;
    float: left;
}
.infobox-inner-screen {
    color: #f8f8f8;
    font-family: "Courier New", monospace;
    font-size: 0.7em;
    text-align: left;
    /*    width: 99%;*/
}
.infobox-output-outer {
    overflow: auto;
    height: 10ex;
    line-height: 3ex;
    display: flex;
    /*flex-direction: column-reverse*/
}
.infobox-output .header {
    color: white;
}
.infobox-output .value {
    color: gold;
}

/*Monitor styles*/
#monitor {
    padding-top: 10px;
/*    float: none;*/
}

#monitor-outer-screen {
    margin: 1px;
    background-color: #333;
    padding: 1em;
    /*margin: 2vw auto;*/ /* setting margin forces center */
    border-radius: 0.5vw;
    box-sizing: border-box;
/*    width: 809px;*/
    width: 824px;
    /*width: 1209px;*/

    float: left;
}

#monitor-inner-screen {
    color: #f8f8f8;
    font-family: "Courier New", monospace;
    font-size: 1em;
    text-align: left;
    width: 99%;
}

#monitor-output-outer {
    overflow: auto;
    height: 60ex;
    line-height: 3ex;
    display: flex;
    flex-direction: column-reverse
}

#monitor-output .info {
    color: white;
}
#monitor-output .warning {
    color: yellow;
}
#monitor-output .error {
    color: red; 
}

#monitor-input {
    background-color: #444;
    color: #f8f8f8;
    font: inherit;
    border: none;
    outline: none;
    caret-color: inherit;
    width: 90%;
}

#monitor-input::-ms-clear {
    /* Hide the X clear button microsoft puts in input fields. */
    display: none;
}
