@using Highbyte.DotNet6502.App.SkiaWASM.Skia
@using Highbyte.DotNet6502.Systems.Commodore64.Config
@using static Highbyte.DotNet6502.App.SkiaWASM.Pages.Index

<p>
    Detailed C64 help
</p>
<p>
    Useful C64 monitor commands
</p>
<ul>
    <li>lb: Pick Basic .prg file to load.</li>
    <li>sb [filename.prg]: Save Basic .prg file as a download.</li>
</ul>
<p></p>
<button @onclick="Close">Close</button>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task Close() => await BlazoredModal.CloseAsync();

}
