@using Highbyte.DotNet6502.App.SkiaWASM.Skia
@using Highbyte.DotNet6502.Systems.Commodore64.Config
@using static Highbyte.DotNet6502.App.SkiaWASM.Pages.Index

<p>
    Useful C64 Basic keyboard commands
</p>
<ul>
    <li>Stop running Basic program: <strong>Run/Stop</strong></li>
    <li>Soft reset: <strong>Run/Stop + Restore</strong></li>
    <li>Change text color 1-8: <strong>CTRL + numbers 1-8</strong></li>
    <li>Change text color 9-16: <strong>C= + numbers 1-8</strong></li>
</ul>

<p>
    C64 keys mapped to PC keyboard
</p>
<ul>
    <li><strong>Run/Stop</strong>: Esc</li>
    <li><strong>Restore</strong>: PageUp</li>
    <li><strong>CTRL</strong>: Tab</li>
    <li><strong>C=</strong>: LeftCtrl</li>
</ul>

<p>
    Useful C64 monitor commands
</p>
<ul>
    <li>lb: Pick Basic .prg file to load.</li>
    <li>sb [filename.prg]: Save Basic .prg file as a download.</li>
</ul>

<p></p>
<button @onclick="Close">Close</button>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task Close() => await BlazoredModal.CloseAsync();

}
