@using Highbyte.DotNet6502.App.SkiaWASM.Skia
@using Highbyte.DotNet6502.Systems.Commodore64.Config
@using static Highbyte.DotNet6502.App.SkiaWASM.Pages.Index

<p>
    Detailed Generic Computer help
</p>
<p>
    Useful Generic Computer monitor commands
</p>
<ul>
    <li>l: Pick a machine code .prg file to load</li>
    <li>s [filename.prg] [start] [end]: Save machine code (or data) as download.</li>
</ul>

<p></p>

<button @onclick="Close">Close</button>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task Close() => await BlazoredModal.CloseAsync();

}
