.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
publish.sh
publish.ps1
publish/
PUBLISH.md
IMPLEMENTATION.md
GENERATE_BUILD_TASK.md
node_modules/@vscode/debugadapter/lib/tests/
KNOWN-ISSUES.md
