@page "/"
@using SkiaSharp
@using SkiaSharp.Views.Blazor
@*@implements IDisposable*@

<PageTitle>Blazor Wasm Skia Test</PageTitle>
<div class="px-4">
    @_statsString
</div>
<p></p>
 
@*<SKCanvasView></SKCanvasView>
*@
@*<SKGLView style="position:fixed; left:40px; top:70px; width: 100vw; height: 100vh; overflow: hidden;"*@
<SKGLView style="position:relative; left:0px; top:0px; width: 1104px; height: 744px; overflow: hidden;"
          IgnorePixelScaling="true"
          EnableRenderLoop="true"
          OnPaintSurface="OnPaintSurface"
          tabindex="0"
          oncontextmenu="return false;"
          @onkeypress="OnKeyPress"
          @onkeydown="OnKeyDown"
          @onkeyup="OnKeyUp"
          @ref="_skGLView" />

@code
{
    private SKGLView _skGLView;

    private void OnKeyPress(KeyboardEventArgs e)
    {
        if (_wasmHost == null)
            return;
        _wasmHost.InputHandlerContext.KeyPress(e);

    }

    private void OnKeyDown(KeyboardEventArgs e)
    {
        if (_wasmHost == null)
            return;
        _wasmHost.InputHandlerContext.KeyDown(e);
    }

    private void OnKeyUp(KeyboardEventArgs e)
    {
        if (_wasmHost == null)
            return;
        _wasmHost.InputHandlerContext.KeyUp(e);
    }

    //private void OnPointerDown(PointerEventArgs e)
    //{
    //}

    //private void OnPointerMove(PointerEventArgs e)
    //{
    //}

    //private void OnPointerUp(PointerEventArgs e)
    //{
    //}

    //private void OnTouchMove(TouchEventArgs e)
    //{
    //}

    //private void OnMouseWheel(WheelEventArgs e)
    //{
    //}
}
