@page "/"
@using SkiaSharp
@using SkiaSharp.Views.Blazor
@*@implements IDisposable*@

<PageTitle>Blazor Wasm Skia Test</PageTitle>
<div class="px-4">
    @_statsString
</div>
<p></p>
 
@*<SKCanvasView></SKCanvasView>
*@
@*<SKGLView style="position:fixed; left:40px; top:70px; width: 100vw; height: 100vh; overflow: hidden;"*@
<SKGLView style="position:relative; left:0px; top:0px; width: 100vw; height: 100vh; overflow: hidden;"
          IgnorePixelScaling="true"
          EnableRenderLoop="true"
          OnPaintSurface="OnPaintSurface"
          tabindex="0"
          oncontextmenu="return false;"
          @onkeypress="OnKeyPress"
          @onkeydown="OnKeyDown"
          @onkeyup="OnKeyUp"
          />

@code
{

    private void OnKeyPress(KeyboardEventArgs e)
    {
    }

    private void OnKeyDown(KeyboardEventArgs e)
    {
        int keyCode=0;
        if(e.Key.Length==1)
            keyCode = (int)e.Key[0];

        //_emulatorHelper!.KeyDown(keyCode);
    }

    private void OnKeyUp(KeyboardEventArgs e)
    {
        int keyCode=0;
        if(e.Key.Length==1)
            keyCode = (int)e.Key[0];
                
        //_emulatorHelper!.KeyUp(keyCode);
    }

    //private void OnPointerDown(PointerEventArgs e)
    //{
    //}

    //private void OnPointerMove(PointerEventArgs e)
    //{
    //}

    //private void OnPointerUp(PointerEventArgs e)
    //{
    //}

    //private void OnTouchMove(TouchEventArgs e)
    //{
    //}

    //private void OnMouseWheel(WheelEventArgs e)
    //{
    //}
}
