@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="px-4">
            <a href="https://github.com/highbyte/dotnet-6502" target="_blank" class="ml-md-auto">DotNet 6502 emulator by Highbyte</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
