@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="px-4">
            <p><a href="https://github.com/highbyte/dotnet-6502" target="_blank" class="ml-md-auto">DotNet 6502 emulator</a> by <a href="https://github.com/highbyte" target="_blank" class="ml-md-auto">Highbyte</a> running in a <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank" class="ml-md-auto">Blazor WebAssembly</a> app!</p>          
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
