@inherits LayoutComponentBase

@Body

@*<div class="page">
    <div class="main">
        <div class="px-4">
            <p>A <a href="https://en.wikipedia.org/wiki/MOS_Technology_6502" target="_blank" class="ml-md-auto">6502</a> machine code program, running in a <a href="https://github.com/highbyte/dotnet-6502" target="_blank" class="ml-md-auto">6502 emulator</a> written in <a href="https://dotnet.microsoft.com/" target="_blank" class="ml-md-auto">.NET</a>, rendered with <a href="https://github.com/mono/SkiaSharp" target="_blank" class="ml-md-auto">SkiaSharp</a>, compiled to <a href="https://en.wikipedia.org/wiki/WebAssembly" target="_blank" class="ml-md-auto">WebAssembly</a> via <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank" class="ml-md-auto">Blazor</a>, executing in a browser!</p>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>*@