@using System.ComponentModel.DataAnnotations;
@using static Highbyte.DotNet6502.App.WASM.Pages.Index

<EditForm Model="_formModel" OnValidSubmit="SubmitForm">
    <label for="fileName">File name</label>
    <InputText @ref="_fileNameRef" @bind-Value="_formModel.FileName" style="width: 90%;" />

    <button type="submit">Submit</button>
    <button @onclick="Cancel">Cancel</button>
</EditForm>

@code {
    private FormModel _formModel = new();
    private InputText _fileNameRef;
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    protected override async void OnInitialized()
    {
        BlazoredModal.SetTitle("Enter Basic filename to save (.prg)");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            if (_fileNameRef.Element != null)
                await _fileNameRef.Element.Value.FocusAsync();
    }


    private async Task SubmitForm() => await BlazoredModal.CloseAsync(ModalResult.Ok(_formModel.FileName));
    private async Task Cancel() => await BlazoredModal.CloseAsync(ModalResult.Cancel());


    public class FormModel
    {
        [Required]
        [StringLength(100, MinimumLength = 1, ErrorMessage = "File name is too short or too long.")]
        public string? FileName { get; set; }
    }
}
