@using Highbyte.DotNet6502.App.WASM.Skia
@using Highbyte.DotNet6502.Systems.Commodore64.Config
@using static Highbyte.DotNet6502.App.WASM.Pages.Index

<p>
    General tips
</p>
<ul>
    <li><strong>Machine code monitor</strong> toggled by pressing <strong>F12</strong> key with main emulator screen selected/focused.
        <ul>
            <li>The monitor uses hexadecimal notation for all addreses and values.</li>
            <li>Continue executing emulator by entering command g in the monitor.</li>
        </ul>
    </li>
    <li><strong>Stats panel</strong> toggled by pressing <strong>F11</strong> key.</li>
    <li><strong>Logs</strong> are written to standard browser logs in Developer tools, press <strong>F12</strong> key with anything outside main emulator screen in selected/focused.</li>
</ul>

<p></p>
<button @onclick="Close">Close</button>

@code {

[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

private async Task Close() => await BlazoredModal.CloseAsync();

}
