@using Highbyte.DotNet6502.Systems.Logging.Console
@using static Highbyte.DotNet6502.App.WASM.Pages.Index

<div>
    <label for="logLevel">Log level</label>
    <select id="logLevel" value="@LoggerConfiguration.LogLevel" @onchange="OnSelectedLogLevelChanged" autofocus>
        @foreach (var logLevel in Enum.GetValues<LogLevel>())
        {
            <option value="@logLevel">@logLevel</option>
        }
    </select>
</div>

<p></p>
<button @onclick="Close">Close</button>

@inject DotNet6502ConsoleLoggerConfiguration LoggerConfiguration

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task Close() => await BlazoredModal.CloseAsync();

    private void OnSelectedLogLevelChanged(ChangeEventArgs e) => 
        LoggerConfiguration.LogLevel = Enum.Parse<LogLevel>(e.Value!.ToString()!);
}
