name: Build & run tests

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'doc/**'
      - README.md
          
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'doc/**'
      - README.md


jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Install DotNet workload - WASM tools
      run: |
        dotnet workload install wasm-tools

    # - name: Clean package cache as a temporary workaround for actions/setup-dotnet#155
    #   run: |
    #     dotnet clean 
    #     dotnet nuget locals all --clear
      
    - name: Restore dependencies
      run: dotnet restore dotnet-6502.sln
    - name: Build
      run: dotnet build dotnet-6502.sln --no-restore
    - name: Test
      run: dotnet test dotnet-6502.sln --no-build --verbosity normal
