@using Highbyte.DotNet6502.Systems.Commodore64.Config
@using static Highbyte.DotNet6502.App.WASM.Pages.Index

Useful C64 monitor commands
<div class="table">
    <div class="table-row">
        <div class="table-cell">lb</div>
        <div class="table-cell">Pick Basic .prg file to load.</div>
    </div>
    <div class="table-row">
        <div class="table-cell">sb [filename.prg</div>
        <div class="table-cell">Save Basic .prg file as a download.</div>
    </div>
    <div class="table-row">
        <div class="table-cell">g</div>
        <div class="table-cell">Continue executing (exit monitor).</div>
    </div>
    <div class="table-row">
        <div class="table-cell">l</div>
        <div class="table-cell">Pick machine code .prg file to load.</div>
    </div>
    <div class="table-row">
        <div class="table-cell">g [address]</div>
        <div class="table-cell">Start executing at [address].</div>
    </div>
</div>

<p></p>
<button @onclick="Close">Close</button>

@code {

[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

private async Task Close() => await BlazoredModal.CloseAsync();

}
